<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapiti.domain.mapper.WapitiAdminMapper" >
  <resultMap id="BaseResultMap" type="com.wapiti.domain.entity.WapitiAdmin" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_face" property="adminFace" jdbcType="VARCHAR" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="admin_account" property="adminAccount" jdbcType="VARCHAR" />
    <result column="is_freeze" property="isFreeze" jdbcType="BIT" />
    <result column="is_root" property="isRoot" jdbcType="BIT" />
    <result column="is_del" property="isDel" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
    <result column="deleted_time" property="deletedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, admin_face, admin_name, admin_account, is_freeze, is_root, is_del, created_time, 
    updated_time, deleted_time
  </sql>
</mapper>